<section class="tout" id="interests">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Education</h2>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h3>Sapienza Università di Roma</h3>
                <p><em>Master of Science in Information Technology</em><br>2000 – 2006</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 style="margin-top: 50px;">Certifications</h2>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul>
                    <li>Oracle Certified Professional Programmer (Java SE)</li>
                    <li>Oracle J2EE Certified Expert</li>
                    <li>AWS Certified Solutions Architect – Associate</li>
                    <li>DevOps Foundations</li>
                    <li>DevOps Foundations: Containers</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 style="margin-top: 50px;">Languages</h2>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Language</th>
                            <th>Proficiency</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><strong>English</strong></td>
                            <td>Full Professional</td>
                        </tr>
                        <tr>
                            <td><strong>German</strong></td>
                            <td>Full Professional</td>
                        </tr>
                        <tr>
                            <td><strong>Italian</strong></td>
                            <td>Full Professional</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 style="margin-top: 50px;">Top Skills</h2>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul>
                    <li>Java Enterprise Edition (JEE)</li>
                    <li>Oracle Technologies</li>
                    <li>Enterprise Architecture</li>
                    <li>Cloud-Native Solutions (AWS, CI/CD, Microservices)</li>
                    <li>DevOps & Continuous Delivery</li>
                    <li>Event-Driven Systems Design</li>
                </ul>
            </div>
        </div>
    </div>
</section>
